//
   Created by toby on 19/05/15.

doctype html
html
    head
        //title youth homelessness dashboard
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='')
        meta(name='author', content='')
        link(rel='stylesheet', href='/stylesheets/normalize.css')
        link(rel='stylesheet', href='/stylesheets/info-style.css')
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
        //script(src="/javascripts/add_data.js")
        script.
            var oData = !{JSON.stringify(oData)}
            var oNational = !{JSON.stringify(oNational)}
            var Q = "2014Q4"

    body
        block content