//br
//hr
//br
div.footerBlock

    a.ocdpText(target='_blank',href='http://nquiringminds.com/') built by www.nqminds.com using the Open City Data Platform #{''} #{''}

        a.ocdpLogo(target='_blank', ,='', href='http://nquiringminds.com/')
            img(src='/images/ocdp.png')

div(style='page-break-before:always;')