//br
//hr
//br
div.textBlock

    p.ocdpText This infographic was built using open data on the open city data platform #{''} #{''}

        a.ocdpLogo(target='_blank', ,='', href='http://nquiringminds.com/')
            img(src='/images/ocdp.png')

div(style='page-break-before:always;')