extends layout

block content

    .featureInfoModal.modal.fade
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type="button",data-dismiss="modal",aria-hidden="true") &times;
                    .modal-title
                        h4#featureTitle
                        .btn-group#modalHeaderButtons
                            button.backButton.btn.btn-default(type='submit').glyphicon.glyphicon-minus
                            button.forwardButton.btn.btn-default(type='submit').glyphicon.glyphicon-plus
                    p#totalsText

                .modal-body#featureInfoCanvas
                    //h4#featureIdTitle
                .modal-footer
                    h5#featureIdTitle

    .riskFactorsModal.modal.fade.left
        .modal-dialog#riskDialog
            .modal-content
                .modal-header
                    button.close(type="button",data-dismiss="modal",aria-hidden="true") &times;
                    .modal-title
                        h4#riskFactorTitle select risk factors
                        button#btn_Add_Risk_Factors.btn.btn-default.btn-block(type='submit') add to map

                .modal-body
                    .row
                        input.chkall#chk_Select_All(type='checkbox', value='')
                        | select all

                    .row
                        h4 enviroment
                    .row
                        input.chkrisk#chk_Care(type='checkbox', value='', name='care')
                        | children looked after by local authority
                    .row
                        input.chkrisk#chk_Deprivation(type='checkbox', value='', name='deprivation')
                        | index of deprivation

                    .row
                        h4 education
                    .row
                        input.chkrisk#chk_Level3(type='checkbox', value='', name='education_level3')
                        | achieved 2 or more A levels or equivilant
                    .row
                        input.chkrisk#chk_Attainment_Gap(type='checkbox', value='', name='education_attainment_gap')
                        | achievement gap by those eligble for and FSM/SEN
                    .row
                        input.chkrisk#chk_Apprenticeship(type='checkbox', value='', name='apprenticeship')
                        | apprenticeship starts
                    .row
                        input.chkrisk#chk_Truancy(type='checkbox', value='', name='truancy')
                        | persitent absenteeism

                    .row
                        h4 health
                    .row
                        input.chkrisk#chk_Hospital(type='checkbox', value='', name='hospital')
                        | hospital admissions for under 24s with injuries
                    .row
                        input.chkrisk#chk_Mentalhealth(type='checkbox', value='', name='mentalhealth')
                        | mental health problems (all ages)
                    .row
                        input.chkrisk#chk_Alcohol(type='checkbox', value='', name='alcohol')
                        | hospital admission for mental health and alcohol problems (all ages)
                    .row
                        input.chkrisk#chk_Drug(type='checkbox', value='', name='drugs')
                        | prevelance of opiate and crack use (all ages)

                    .row
                        h4 economy
                    .row
                        input.chkrisk#chk_Unemployment(type='checkbox', value='', name='unemployment_total')
                        | youth unemployment

                    //h4#featureIdTitle
                .modal-footer
                    //h5#featureIdTitle

    .container

        .col-md-4#colLeft
            //.row
                input#ex1(data-slider-id='ex1Slider', type='text', data-slider-min='0', data-slider-max='20', data-slider-step='1', data-slider-value='14')

            .row
                .form-group.has-feedback#findAddress
                    input.form-control#searchText(type='text', placeholder='Search post code')
                    i.glyphicon.glyphicon-search.form-control-feedback#searchIcon

            .row#dateRow
                .col-sm-12
                    form.form-inline
                        .form-group
                            select#yearSelect.form-control.datatype
                                option 2014
                                option 2013
                                option 2012
                            select#quarterSelect.form-control.datatype
                                option Q4
                                option Q3
                                option Q2
                                option Q1
                            select#percentcountSelect.form-control.datatype
                                option percent
                                option count

            .row
                .col-sm-12
                    .h5 local authority
                    button#btn_P1E.btn.btn-default.btn-block.datatype(type='submit') priority youth homelessness
                    button#btn_P1E_reporting.btn.btn-default.btn-block.datatype(type='submit') priority youth homelessness missing data
                    button#btn_Prevention.btn.btn-default.btn-block.datatype(type='submit') preventing and relieving homeless


            .row
                .col-sm-12
                    .h5 housing association lets to youth homeless
                    button#btn_Core_Priority.btn.btn-default.btn-block.datatype(type='submit') priority youth homeless
                    button#btn_Core_Non_Priority.btn.btn-default.btn-block.datatype(type='submit') non priority youth homeless

            .row
                .col-sm-12
                    .h5 build an index of multiple risk factors
                        button#btn_Risk_Factors.btn.btn-default.btn-block.riskfactortype(type='submit') risk factors



        .col-md-1#colMid

        .col-md-5#colRight
            #activeData.h3 priority youth homelessness
            .container#mapSide
                .mapCanvas


        //.row
        //    .col-sm-12
        //        .input-group
        //            span.input-group-btn
        //                button#btn_Unemployment.btn.btn-default.datatype(type='submit') youth unemployment
        //            select#unemploymentDurationSelect.form-control.datatype
        //                option total
        //                option over12m
        //                option 6-12m
        //                option 0-6m
        //
        //.row
        //    .col-sm-12
        //        button#btn_Education_lv3.btn.btn-default.btn-block.datatype(type='submit') 19 year olds with A level equivalents
        //.row
        //    .col-sm-12
        //        button#btn_Education_AG.btn.btn-default.btn-block.datatype(type='submit') attainment gap
        //.row
        //    .col-sm-12
        //        button#btn_Apprenticeship.btn.btn-default.btn-block.datatype(type='submit') apprenticeship starts
        //
        //.row
        //    .col-sm-12
        //        button#btn_Deprivation.btn.btn-default.btn-block.datatype(type='submit') deprivation