extends layout

block content

    //if lt IE 7
      div(style=' clear: both; height: 59px; padding:0 0 0 15px; position: relative;')
        a(href='http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode')
          img(src='http://i.imgur.com/hNingci.jpg', border='0', height='42', width='820', alt='')

    .featureInfoModal.modal.fade.bottom
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type="button",data-dismiss="modal",aria-hidden="true") &times;
                    .modal-title
                        h4#featureTitle
                .modal-body#featureInfoCanvas
                    //h4#featureIdTitle
                .modal-footer
                    #ocdpinfo
                        p This infographic was designed using the #{''}
                            a#ocdpinfoLink(href='http://nquiringminds.com/smart-cities/') Open City Data Platform
                    //h5#featureIdTitle

    .riskFactorsModal.modal.fade.left
        .modal-dialog#riskDialog
            .modal-content
                .modal-header
                    button.close(type="button",data-dismiss="modal",aria-hidden="true") &times;
                    .modal-title

                        h4 Select the risk factors you would like to see AND click the button to see their impact on the map
                        #riskText An index is calculated as an average of the Local Authorities rank for each risk factor.
                        button.btn_Add_Risk_Factors.button_add_risk_factors.btn.btn-default(type='submit') Click here!

                .modal-body#riskBody


                    .row#chkrow
                        #chkspan.span3.checkbox
                            input.chkall#chk_Select_All(type='checkbox', value='')
                            | select all

                    .row#chkrow
                        h5.riskcatagory Social care
                            //input.chkParent#chk_Social_Care(type='checkbox', value='', name='care', pname='social_care')
                    .row#chkrow
                        #chkspan.span3.checkbox
                            input.chkrisk#chk_Care(type='checkbox', value='', pname="social_care")
                            div(data-toggle='popover', data-trigger='hover', data-placement='right', name='care').risktext Children in care
                            //a.btn.btn-default.infoChktype(tabindex='0', role='button', data-toggle='popover', data-trigger='focus', title='info', name="care").glyphicon.glyphicon-info-sign

                    .row#chkrow
                        h5.riskcatagory Environment
                            //input.chkParent#chk_Environment(type='checkbox', value='', name='care', pname='environment')
                    .row#chkrow
                        #chkspan.span3.checkbox
                            input.chkrisk#chk_Deprivation(type='checkbox', value='', name='deprivation', pname="environment")
                            div(data-toggle='popover', data-trigger='hover', data-placement='right',name='deprivation').risktext Index of deprivation
                            //a.btn.btn-default.infoChktype(tabindex='0', role='button', data-toggle='popover', data-trigger='focus', title='info', name='deprivation').glyphicon.glyphicon-info-sign

                    .row#chkrow
                        h5.riskcatagory Education
                            //input.chkParent#chk_Education(type='checkbox', value='', name='education', pname="education")
                    .row#chkrow
                        #chkspan.span3.checkbox
                            input.chkrisk#chk_Level3(type='checkbox', value='', name='education_level3', pname="education")
                            div(data-toggle='popover', data-trigger='hover', data-placement='right',name='education_level3').risktext Achieved 2 or more A levels or equivalent
                            //a.btn.btn-default.infoChktype(tabindex='0', role='button', data-toggle='popover', data-trigger='focus', title='info', name='education_level3').glyphicon.glyphicon-info-sign
                    .row#chkrow
                        #chkspan.span3.checkbox
                            input.chkrisk#chk_Attainment_Gap(type='checkbox', value='', name='education_attainment_gap', pname="education")
                            div(data-toggle='popover', data-trigger='hover', data-placement='right',name='education_attainment_gap').risktext Achievement gap
                            //a.btn.btn-default.infoChktype(tabindex='0', role='button', data-toggle='popover', data-trigger='focus', title='info', name='education_attainment_gap').glyphicon.glyphicon-info-sign
                    .row#chkrow
                        #chkspan.span3.checkbox
                            input.chkrisk#chk_Apprenticeship(type='checkbox', value='', name='apprenticeship', pname="education")
                            div(data-toggle='popover', data-trigger='hover', data-placement='right',name='apprenticeship').risktext Apprenticeship starts
                            //a.btn.btn-default.infoChktype(tabindex='0', role='button', data-toggle='popover', data-trigger='focus', title='info', name='apprenticeship').glyphicon.glyphicon-info-sign
                    .row#chkrow
                        #chkspan.span3.checkbox
                            input.chkrisk#chk_Truancy(type='checkbox', value='', name='truancy', pname="education")
                            div(data-toggle='popover', data-trigger='hover', data-placement='right',name='truancy').risktext Persistent truancy
                            //a.btn.btn-default.infoChktype(tabindex='0', role='button', data-toggle='popover', data-trigger='focus', title='info', name='truancy').glyphicon.glyphicon-info-sign

                    .row#chkrow
                        h5.riskcatagory Health
                            //input.chkParent#chk_Enviroment(type='checkbox', value='', name='health', pname="health")
                    .row#chkrow
                        #chkspan.span3.checkbox
                            input.chkrisk#chk_Hospital(type='checkbox', value='', name='hospital', pname="health")
                            div(data-toggle='popover', data-trigger='hover', data-placement='right',name='hospital').risktext Hospital admissions for under 24s with injuries
                            //a.btn.btn-default.infoChktype(tabindex='0', role='button', data-toggle='popover', data-trigger='focus', title='info', name='hospital').glyphicon.glyphicon-info-sign
                    .row#chkrow
                        #chkspan.span3.checkbox
                            input.chkrisk#chk_Mentalhealth(type='checkbox', value='', name='mentalhealth', pname="health")
                            div(data-toggle='popover', data-trigger='hover', data-placement='right',name='mentalhealth').risktext Mental health problems (all ages)
                            //a.btn.btn-default.infoChktype(tabindex='0', role='button', data-toggle='popover', data-trigger='focus', title='info', name='mentalhealth').glyphicon.glyphicon-info-sign

                    .row#chkrow
                        h5.riskcatagory Economy
                            //input.chkParent#chk_Enviroment(type='checkbox', value='', name='economy', pname="economy")
                    .row#chkrow
                        #chkspan.span3.checkbox
                            input.chkrisk#chk_Unemployment(type='checkbox', value='', name='unemployment_total', pname="economy")
                            div(data-toggle='popover', data-trigger='hover', data-placement='right',name='unemployment_total').risktext Youth unemployment
                            //a.btn.btn-default.infoChktype(tabindex='0', role='button', data-toggle='popover', data-trigger='focus', title='info', name='unemployment_total').glyphicon.glyphicon-info-sign
                    br
                    br

                    button#btn_Add_Risk_Factors.button_add_risk_factors.btn.btn-default(type='submit') Click here!
                    //h4#featureIdTitle
                //.modal-footer
                  //h5#featureIdTitle

    .container



        .col-md-4#colLeft

            .row.clicktextrow
                .h5.clicktext Click on the map for facts about your local area.
                .h5.clicktext Or click buttons below to map different data!

            .row
                #addressbox
                     .form-group.has-feedback#findAddress
                         input.form-control#searchText(type='text', placeholder='Search post code')
                         i.glyphicon.glyphicon-search.form-control-feedback#searchIcon


            .row#dateRow
                .col-sm-12
                    //p Select a date!
                    #sliderbox
                        #slider

            .row
                .col-sm-12
                    .row
                        //.h5.buttonHeader Local authority
                        //.btn-group(role='group', aria-label='...')
                        button#btn_P1E.btn.btn-default.datatype(type='submit', data-toggle='popover', data-trigger='hover', name='p1e') Youth homelessness
                    .row
                        button#btn_P1E_reporting.btn.btn-default.datatype(type='submit', data-toggle='popover', data-trigger='hover', name='p1e_reporting') Youth homelessness missing data

                        //.btn-group(role='group', aria-label='...')
                            button#btn_Prevention.btn.btn-default.btn-block.datatype(type='submit') Preventing and relieving homelessness
                            a.btn.btn-default.infotype(tabindex='0', role='button', data-toggle='popover', data-trigger='focus', title='info', name='prevention').glyphicon.glyphicon-info-sign

            //.row
                .col-sm-12
                    .row
                        .h5.buttonHeader Housing association lets to homeless youth
                        .btn-group(role='group', aria-label='...')
                            button#btn_Core_Priority.btn.btn-default.btn-block.datatype(type='submit') Homeless youth owed a duty
                            a.btn.btn-default.infotype(tabindex='0', role='button', data-toggle='popover', data-trigger='focus', title='info', name='core_priority').glyphicon.glyphicon-info-sign
                        .btn-group(role='group', aria-label='...')
                            button#btn_Core_Non_Priority.btn.btn-default.btn-block.datatype(type='submit') Homeless youth not owed a duty
                            a.btn.btn-default.infotype(tabindex='0', role='button', data-toggle='popover', data-trigger='focus', title='info', name='core_non_priority').glyphicon.glyphicon-info-sign
            .row
                .col-sm-12
                    .row
                        .h5.buttonHeader Build an index of multiple risk factors
                         button#btn_Risk_Factors.btn.btn-default.btn-block.riskfactortype(type='submit', data-toggle='popover', data-trigger='hover', name='risk_factors') Risk factors

            .row
                .col-sm-12
                #ocdp
                    p This app was built using open data <br /> on the #{''}
                        a#ocdpLink(target= '_blank' href='http://nquiringminds.com/smart-cities/') Open City Data Platform


        .col-md-1#colMid

        .col-md-5#colRight
            #activeData.h3 Youth homelessness
            .container#mapSide
                .mapCanvas



            #ib.infobox-wrapper
                #infobox
