//
   Created by toby on 19/05/15.

extends featureLayout

block content
    include featureHeader
    include feature1
    include featureFooter
    include featureHeader2
    include feature2
    include featureFooter
