
h2 Economy

h3 Youth Unemployment

p Count of young people aged 16 to 24 claiming Jobseekers Allowance.
a(target='_blank', href='https://www.nomisweb.co.uk/query/select/getdatasetbytheme.asp?opt=3&theme=&subgrp') Source

hr

h2 Social care

h3 Children in care

p Rate of children 18 and under looked after by their local authority in year ending 31st March 2014.
p Non Metropolitan Districts record their County's value
a(target='_blank',href='https://www.gov.uk/government/statistics/children-looked-after-in-england-including-adoption--2') Source
br

hr.sourceHr

h2 Enviroment

h3 Index of deprivation

p The concentration of deprivation relative to other local authorities.
p Calculated by comparing most deprived areas in each authority, according to their relative rankings on a number of different measures of deprivation.
a(href='https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/6884/1871689.xls') Source


hr.sourceHr

h2 Education

h3 2 or more A levels or equivalent

p Percentage of 19 year olds educated to level 3 in the local authority. Level 3 education equates to achievement of 2 or more A-levels or equivalent size vocational qualifications.
p Non Metropolitan Districts record their County's value
a(href='https://www.gov.uk/government/statistics/level-2-and-3-attainment-by-young-people-aged-19-in-2014') Source

br
br
h3 Achievement gap

p Difference in percentages of children eligible for free school meals (FSM) or with special educational needs (SEN) attaining level 3 from children not eligible for FSM or SEN attaining level 3. Level 3 education equates to achievement of 2 or more A-levels or equivalent size vocational qualifications.
p Non Metropolitan Districts record their County's value
a(href='https://www.gov.uk/government/statistics/level-2-and-3-attainment-by-young-people-aged-19-in-2014') Source

br
br
h3 Apprenticeship starts

p All apprenticeship starts for ages up to 24 in the local authority.
a(href='https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/382956/apprenticeships-starts-by-geography-level-and-age.xls') Source

br
br
h3 Persistent truancy

p Percentage of persistent absentees in state funded secondary schools.
a(href='https://www.gov.uk/government/statistics/pupil-absence-in-schools-in-england-2013-to-2014') Source


hr.sourceHr

h2 Health

h3 Hospital Admissions (under 24s)

p The number of emergency admissions caused by unintentional and deliberate injuries in young people aged 0 to 24.
p Local authority (LA) rates are calculated as an average of all clinical commisioning groups (CCGs) that are wholly or partially inside the LA boundary with equal weight given to all CCGs.
a(href='http://fingertips.phe.org.uk/profile-group/mental-health/profile/cmhp/data') Source

br
br
h3 Mental health problems (all ages)

p The percentage of patients (of all ages) with schizophrenia, bipolar affective disorder and other psychoses as recorded on practice disease registers.
p Local authority (LA) rates are calculated as an average of all clinical commisioning groups (CCGs) that are wholly or partially inside the LA boundary with equal weight given to all CCGs.
a(href='http://fingertips.phe.org.uk/profile-group/mental-health/profile/cmhp/data') Source


hr.sourceHr







