//
   Created by User on 20/05/2015.

doctype html
html
    head
        //title youth homelessness dashboard
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='')
        meta(name='author', content='')
        link(rel='stylesheet', href='/stylesheets/source-style.css')

    body
        block content

