/*----------Header------------------*/
.headerBlock1 {
    padding: 0 0 0 10px;
    position: relative;
    max-width: 650px;
    font-size: 10px;
    height: 10px;
}

.headerTitle {
    font-family: Arial;
    font-size: 22px;
    color: #BFBFBF;
    font-weight: bold;
    padding: 4px;
    margin: 0 0 15px 0;

}

.cp_feature_logo{
    float: right;
    height: 30px;
}

.headerBlock2 {
    max-width: 650px;
    padding: 0 0 0 50px;
    position: relative;
}

.headerName {
    font-family: Arial;
    position: absolute;
    right: 0;
    color: #D04627;
}

.bulletNumLeft {
    width: 30px;
    left: 5px;
    position: absolute;
    top: 0px;
}

/*----------Footer------------------*/


.ocdpText{
    font-family: Arial;
    text-align: left;
    color: dodgerblue;
    font-size: 12px;
    margin-bottom: 10px;
    max-width: 680px;
    margin: 0;
    text-decoration: none;
    cursor: pointer;

}

.ocdpLogo{
    margin-left: 5px;
}

.ocdpLogo img{
    height: 30px;
    vertical-align: -8px;
}

.footerBlock{
    margin-top: 5px;
    padding: 0 0 0 50px;
    position: relative;
    max-width: 630px;
    background-color: white;
    overflow: hidden;
}

/*----------Body------------------*/

body{
    font-family: Arial;
    font-size: 15px;
}

#infoCanvas{
    margin-right: 10px;
}

hr{
    color: #D04627;;
    background-color: #D04627;
    border: 0;
    height: 2px;
    max-width: 770px;
    margin: 0;
}

/*----------Titles------------------*/

.headBlock{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 0 0 50px;
    position: relative;
    max-width: 630px;
    background-color: white;
}

.headText{
    font-family: Arial;
    font-size: 18px;
    color: #666666;
    font-weight: bold;
}
/*----------Text------------------*/
.textBlock{

    margin-top: 20px;
    padding: 0 0 0 50px;
    position: relative;
    max-width: 600px;
    background-color: white;
}


.normText{
    font-family: Arial;
    right: 40px;
    color: #666666;
    margin: 15px 0px 15px 0;
    line-height: 18px;
    text-align: justify;
}

.nameText{
    font-family: Arial;
    color: #D04627;
    font-weight: bold;
    margin: 10px 0 10px 0;
}

.emailText{
    font-family: Arial;
    color: #D04627;
    font-weight: bold;
    margin: 10px 0 10px 0;
    cursor: pointer;
}

.bigNumber{
    font-family: Arial;
    font-weight: bold;
    color: #D04627;
    margin-top: -15px;
    margin-bottom: 15px;
    line-height: 18px;

}

/*----------Images------------------*/

.bulletImgLeft {
    width: 30px;
    left: 5px;
    position: absolute;
    top: -5px;
}




#popImg{
    margin-bottom: 20px;
    margin-right: 10px;
    height: 100px;
}







