body {
    /*font-family: Interstate;*/
    padding-top: 110px;
    /*background-color: white;*/
    /*color: black;*/
}

/*-------header--------------------*/

.navbar{
    background-color: white;
    min-height: 110px;
}

#brandText {
    margin-left: 30px;
}

#headerContainer{
    background-color: white;
    /*color: black;*/
}

/*---------leftcol--------------------*/

#colLeft{
    background-color: white;
}

.clicktextrow{
    margin-top: 40px;
}

.clicktext{
    /*background-color: #D04627;*/
    /*color: white;*/
    width: 330px;
    text-align: center;
    margin-left: -5px;
    /*height: 30px;*/
    /*//padding: 5px;*/
    font-weight: bold;


}

/*----address seach-----------*/


#addressbox{
    margin-top: 10px;
    height: 54px;
    width: 320px;
    /*background-color: black; test*/
    background-color: #D04627;
    border-radius: 5px;
    /*margin-left: -30px;*/
}

#findAddress{
    position: absolute;
    margin: 10px;
    width: 300px;
    z-index: 11;
    border: none;

}

#searchText{
    border-radius: 2px;
}

#searchIcon{
    top: 0px;
    /*padding-bottom: 20px;*/
}


/*----date slider-------------*/


#sliderbox{
    height: 90px;
    width: 320px;
    /*background-color: black; test*/
    background-color: #D04627;
    border-radius: 5px;
    margin-left: -30px;
    margin-bottom: 10px;
    padding-top: 10px;
}

#slider{
    border-color: white;
    background-color: white;
    width: 250px;
    margin-left: 30px;
    margin-top: 10px;
    border-radius: 2px;

}

#slider label {
    position: absolute;
    width: 20px;
    margin-left: -10px;
    text-align: center;
    margin-top: 20px;
    font-family: Arial;
    font-size: 13px;
    color: white;
    /*color: lightgrey;*/
}


#slider .ui-slider-handle {
    /*border-color: #000;*/
    /*background: #c2290a;*/
    background: white;
    border-radius: 20px;

    border-width: 1px;
    /*margin-top: 10px*/
    /*width: 6px;*/
}

#slider .ui-slider-handle:focus{
    /*border-radius: 20px;*/
    outline: none;
}

#dateRow {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 0px;
    /*background-color: hsla(10, 90%, 50%, 1);*/

}




/*----buttons-----------------*/

.top-buffer {
    margin-top:45px;
}

.buttonHeader{
    margin-top: 20px;
    font-weight: bold;
}

.datatype, .riskfactortype, .button_add_risk_factors{
    margin: 1px 0px 1px 0px;
    background-color: #D04627;
    border-color: #D04627;

    /*background-color: black; test*/
    /*border-color: black; test*/

    color: white;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    /*border-color: white;*/
    font-weight: bold;
    font-size: 13px;
    width: 320px;
    height: 32px;
}



/*.datatype{*/
    /*font-size: 13px;*/
    /*width: 280px;*/
/*}*/

/*.riskfactortype{*/
    /*font-size: 13px;*/
    /*width: 320px;*/
/*}*/

.glyphicon{
    top: 0;
}

/*.infotype{*/
    /*margin: 1px 0px 1px 0px;*/
    /*position-top: 0;*/
    /*font-size: 20px;*/
    /*width: 40px;*/
    /*background-color: #D04627;*/
    /*border-color: #D04627;*/
    /*height: 32px;*/

/*}*/


.infoChktype{
    border: none;
    font-size: 20px;
    padding: 0px 0px 0px 10px;
}

/*----popover-----------------*/

.popover{
    max-width: 100%; /* Max Width of the popover (depending on the container!) */
    z-index: 1060;
}


/*----ocpd--------------------*/

#ocdp {
    margin: 20px 0 0 30px;
}

#ocdpinfo{
    text-align: left;
}

#ocdpLink, #ocdpinfoLink{
    font-weight: bold;
}

/*----risk factor modal-------*/

.modal .modal-body {
    max-height: 420px;
    overflow-y: auto;
}


.modal.fade:not(.in).left .modal-dialog {
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0);
}

#riskDialog {
    /*width: 500px;*/
    margin-left: 10px;
    /*margin-top: 120px;*/
    border-radius: 1px;
    /*margin-right: 55%;*/
}

#riskfactortitle1{
    font-weight: bold;
}

#riskfactortitle2{
    font-weight: bold;
}

.chkspan{
    display: inline-block;
}

/*.risktext{*/
    /*width: auto;*/
    /*width:100%;*/
    /*white-space:nowrap;*/
/*}*/

#riskText{
    /*text-align: center;*/
    font-size: 12px;
    font-color: grey;
    /*margin-left: 20px;*/
    /*margin-top: 10px;*/
    margin-bottom: 10px;
}

.riskcatagory{
    color: #D04627;
    margin-top: 25px;
    margin-bottom: 5px;
}

.button_add_risk_factors{
    text-align: center;
    width: 100px;
    /*margin-top: 20px*/
    /*margin-left: 30px;*/
}

#chkrow {
    margin-left: 20px;
    margin: 0;
}

.checkbox{
    width: 300px;
}

.checkbox {
    margin: 5px 0 0 0;
}

.chkrisk {
    margin: 0px; 10px 0px 10px;
}

.modal-backdrop, .modal-backdrop.fade.in {
    opacity: 0;
}


/*---------rightcol--------------------*/

#colRight{
    position: relative;
    background-color: white;
    /*height: 500px;*/
}

#mapSide{
    position: relative;
    width: 500px
}

#activeData{
    text-align: center;
    background-color: #D04627;
    /*background-color: black; test*/
    color: white;
    font-weight: bold;
    margin-left: 15px;
    padding-top: 3px;
    width: 470px;
    height: 30px
}

/*----map----------------------*/


.mapCanvas {
    height: 450px;
}

/*---key-----------------------*/

#keyContainer{
    position: absolute;
    top: 0;
    z-index:19
}

#keyCanvas{
    postion: relative;
    /*background-color: red;*/
    z-index: 20;
}

/*---feature modal------------*/


#featureIdTitle{
    text-align: left;
}


.modal.fade:not(.in).bottom .modal-dialog {
    -webkit-transform: translate3d(0, 125%, 0);
    transform: translate3d(0, 125%, 0);
}

#featureInfoCanvas {
    /*background-color: red;*/
}

#featureTitle {
    font-size: 25px;
}


/*----info box-------*/

.infobox-wrapper {
    display:none;
}

#infobox {
    border:2px solid black;
    margin-top: 8px;
    background-color: white;
    /*background:#333;*/
    color:#FFF;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    padding: .5em 1em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-shadow:0 -1px #000000;
    -webkit-box-shadow: 0 0  8px #000;
    box-shadow: 0 0 8px #000;
}




/*-----------------*/

