body {
    /*font-family: Interstate;*/
    padding-top: 110px;
    /*background-color: white;*/
    /*color: black;*/
}

.navbar{
    background-color: white;
    min-height: 110px;
}

#brandText {
    margin-left: 30px;
}

#headerContainer{
    background-color: white;
    /*color: black;*/
}


#colLeft{
    background-color: white;
}

.datatype, .riskfactortype{
    margin: 2px 2px 2px 0px;
    background-color: white;
    color: #535353;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 1;
    /*border-color: white;*/
    font-weight: bold;
}

#activeData{
    text-align: center;
    color: hsla(10, 90%, 15%, 1);

}

#colRight{
    position: relative;
    background-color: white;
    /*height: 500px;*/
}

#mapSide{
    position: relative;
    width: 500px
}

/*#mapContainer{*/
    /*padding: 90px 0px 0px 0px;*/
    /*margin: 0px 0px 0px 100px;*/
    /*width: 98%;*/
    /*height: 500px;*/
/*}*/


/*.mapContainer{*/
    /*height: 450px;*/
/*}*/

.mapCanvas {
    /*position: absolute;*/
    /*top: 50px;*/
    /*left: 0px;*/
    /*right: 0px;*/
    /*bottom: 0px;*/
    /*background-color: #D14414;*/
    /*background-color: orange;*/
    height: 450px
}


.top-buffer {
    margin-top:45px;
}


#findAddress{
    margin: 5px 5px 5px 5px;
    background-color: white;
    padding-left: 10px;

    margin-top: 30px;
    width: 262px;
    z-index: 11;

}

#searchText{
    /*border-color: #ffffff;*/
    border-radius: 2;
}

#searchIcon{
    top: 0px;
    /*padding-bottom: 20px;*/
}

#keyContainer{
    position: absolute;
    top: 0;
    z-index:19
}

#keyCanvas{
    postion: relative;
    /*background-color: red;*/
    z-index: 20;
}

#featureIdTitle{
    text-align: left;
}


#ex1Slider .slider-selection {
    background: #BABABA;
}


.modal.fade:not(.in).left .modal-dialog {
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0);
}

/*.riskFactorModal{*/
    /*margin: 10px;*/
    /*poistion: fixed;*/

    /*left:0;*/
    /*outline: none;*/
/*}*/

#riskDialog{
    margin-top: 120px;
    margin-right: 55%;
}

.modal-backdrop, .modal-backdrop.fade.in {
    opacity: 0;
}