html {
    background: #f0f0f0;
}

.cp_logo img {
    height: 70px;
}

.cp_small_logo img {
    height: 50px;
}

.cp_header {
    background: #f0f0f0;
}

.cp_mainTabs.webix_layout_toolbar {
    background: #424242 !important;
}

.cp_mainTabs .webix_item_tab {
    font-size: .8em;
}

.cp_mainTabs button {
    background: #D04627 !important;
}

.cp_mainTabs .webix_selected {
    background: #47AD54 !important;
}

.cp_riskFactorForm .webix_view {
    padding-left: 4px;
}

.cp_hidden {
    display: none;
}